/* .customInput:focus {
  box-shadow: 0 0 9px 1px #0095ff;
  transition: all 0.3s ease-in-out;
}

.customInputLabel:focus {
  box-shadow: 0 0 9px 1px #0095ff;
  transition: all 0.3s ease-in-out;
} */
